/* .parent-relative{
margin-top: 200px;
min-height: 40vh;
position:relative;
background-color: aqua;
}
.child-absoulute{
position: absolute;
top:50%;
left:50%;
background-color: red;
transform: translateX(-50%);
} */
body {
    
}
button {
    background-color: rgb(255, 13, 13);
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:1;
    width:100px;
    height: 100px;
}
button:hover{
    background-color: rgb(178, 173, 230);
}
